include LICENSE
include README.md
include Makefile
include .goreleaser.yaml .goreleaser/*.Dockerfile
include go.mod go.sum
include .GIT_TAG_INFO
graft pkg
graft cmd
prune examples
prune bin
prune hack
prune e2e
prune dist
prune docs
prune .github
