name: release

on:
  push:
    tags:
      - 'v*'
  pull_request:
    paths:
    - '.github/workflows/release.yml'
    - '.goreleaser/'
    - '.goreleaser.yaml'

jobs:
  goreleaser:
    if: github.repository == 'tensorchord/envd'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: Docker Login
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: upload gobin
        uses: actions/upload-artifact@v3
        with:
          name: gobin_${{ github.event.release.tag_name }}
          retention-days: 1
          path: |
            dist/envd_linux_amd64_v1/envd
            dist/envd_darwin_amd64_v1/envd
          if-no-files-found: error
  pypi_publish:
    needs: goreleaser
    # only trigger on main repo when tag starts with v
    if: github.repository == 'tensorchord/envd' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      matrix:
        os: [macos-10.15, ubuntu-20.04]
    steps:
    - uses: actions/checkout@v3
    - name: Get gobin
      uses: actions/download-artifact@v3
      with:
        name: gobin_${{ github.event.release.tag_name }}
        path: dist/
    - name: Configure linux build environment
      if: runner.os == 'Linux'
      run: |
        mkdir -p bin
        mv dist/envd_linux_amd64_v1/envd bin/envd
        chmod +x bin/envd
    - name: Configure macOS build environment
      if: runner.os == 'macOS'
      run: |
        mkdir -p bin
        mv dist/envd_darwin_amd64_v1/envd bin/envd
        chmod +x bin/envd
    - name: Build wheels
      uses: pypa/cibuildwheel@v2.9.0
      env:
        CIBW_ARCHS: auto64
    - name: Build source distribution
      if: runner.os == 'Linux' # Only release source under linux to avoid conflict
      run: |
        python3 setup.py sdist
        mv dist/*.tar.gz wheelhouse/
    - name: Upload to PyPI
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        python -m pip install --upgrade pip
        python -m pip install twine
        python -m twine upload wheelhouse/*
  image_publish:
    name: Build & push images
    # only trigger on main repo when tag starts with v
    if: github.repository == 'tensorchord/envd' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: goreleaser
    steps:
    - uses: actions/checkout@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Cache Docker layers
      uses: actions/cache@v3
      id: cache
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - name: Docker Buildx
      env:
        DOCKERIO_USERNAME: ${{ secrets.DOCKERIO_USERNAME }}
        DOCKERIO_PASSWORD: ${{ secrets.DOCKERIO_PASSWORD }}
      run: |
          docker login --username "${DOCKERIO_USERNAME}" --password "${DOCKERIO_PASSWORD}"
          ./base-images/build.sh
          DOCKER_IMAGE_TAG=latest ./base-images/build.sh
  cache_publish:
    name: Build & Push the remote cache
    # only trigger on main repo when tag starts with v
    if: github.repository == 'tensorchord/envd' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: image_publish
    steps:
    - uses: actions/checkout@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Cache Docker layers
      uses: actions/cache@v3
      id: cache
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - name: Get gobin
      uses: actions/download-artifact@v3
      with:
        name: gobin_${{ github.event.release.tag_name }}
        path: dist/
    - name: Configure linux build environment
      if: runner.os == 'Linux'
      run: |
        mv dist/envd_linux_amd64_v1/envd /usr/local/bin/envd
        chmod +x /usr/local/bin/envd
    - name: Build and push
      env:
        DOCKERIO_USERNAME: ${{ secrets.DOCKERIO_USERNAME }}
        DOCKERIO_PASSWORD: ${{ secrets.DOCKERIO_PASSWORD }}
      run: |
          docker login --username "${DOCKERIO_USERNAME}" --password "${DOCKERIO_PASSWORD}"
          ./base-images/remote-cache/build-and-push-remote-cache.sh
